<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss111.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-8}</string>
                <key>spriteSize</key>
                <string>{89,103}</string>
                <key>spriteSourceSize</key>
                <string>{115,131}</string>
                <key>textureRect</key>
                <string>{{1,215},{89,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss112.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-7}</string>
                <key>spriteSize</key>
                <string>{89,105}</string>
                <key>spriteSourceSize</key>
                <string>{115,131}</string>
                <key>textureRect</key>
                <string>{{1,1},{89,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss113.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-7}</string>
                <key>spriteSize</key>
                <string>{87,107}</string>
                <key>spriteSourceSize</key>
                <string>{115,131}</string>
                <key>textureRect</key>
                <string>{{1,595},{87,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss114.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-7}</string>
                <key>spriteSize</key>
                <string>{83,105}</string>
                <key>spriteSourceSize</key>
                <string>{115,131}</string>
                <key>textureRect</key>
                <string>{{1,813},{83,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss115.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,1}</string>
                <key>spriteSize</key>
                <string>{83,93}</string>
                <key>spriteSourceSize</key>
                <string>{115,131}</string>
                <key>textureRect</key>
                <string>{{1,1027},{83,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss116.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-1}</string>
                <key>spriteSize</key>
                <string>{83,89}</string>
                <key>spriteSourceSize</key>
                <string>{115,131}</string>
                <key>textureRect</key>
                <string>{{1,425},{83,89}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>boss121.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-8}</string>
                <key>spriteSize</key>
                <string>{89,103}</string>
                <key>spriteSourceSize</key>
                <string>{115,131}</string>
                <key>textureRect</key>
                <string>{{1,320},{89,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss122.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-7}</string>
                <key>spriteSize</key>
                <string>{89,105}</string>
                <key>spriteSourceSize</key>
                <string>{115,131}</string>
                <key>textureRect</key>
                <string>{{1,108},{89,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss123.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-7}</string>
                <key>spriteSize</key>
                <string>{87,107}</string>
                <key>spriteSourceSize</key>
                <string>{115,131}</string>
                <key>textureRect</key>
                <string>{{1,704},{87,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss124.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-7}</string>
                <key>spriteSize</key>
                <string>{83,105}</string>
                <key>spriteSourceSize</key>
                <string>{115,131}</string>
                <key>textureRect</key>
                <string>{{1,920},{83,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss125.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,1}</string>
                <key>spriteSize</key>
                <string>{83,93}</string>
                <key>spriteSourceSize</key>
                <string>{115,131}</string>
                <key>textureRect</key>
                <string>{{1,1122},{83,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss126.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-1}</string>
                <key>spriteSize</key>
                <string>{83,89}</string>
                <key>spriteSourceSize</key>
                <string>{115,131}</string>
                <key>textureRect</key>
                <string>{{1,510},{83,89}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>bossrun.png</string>
            <key>size</key>
            <string>{91,1216}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:84b42c562c77f78977bf6398224a7663:c523d4e7e3b7170b051725e291f58c04:1c2ec1c0680bf1e7baea061e7b79294f$</string>
            <key>textureFileName</key>
            <string>bossrun.png</string>
        </dict>
    </dict>
</plist>
