<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>attack111.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{97,119}</string>
                <key>spriteSourceSize</key>
                <string>{115,131}</string>
                <key>textureRect</key>
                <string>{{726,1},{97,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack112.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-3}</string>
                <key>spriteSize</key>
                <string>{87,117}</string>
                <key>spriteSourceSize</key>
                <string>{115,131}</string>
                <key>textureRect</key>
                <string>{{802,122},{87,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack113.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,3}</string>
                <key>spriteSize</key>
                <string>{81,99}</string>
                <key>spriteSourceSize</key>
                <string>{115,131}</string>
                <key>textureRect</key>
                <string>{{595,129},{81,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack114.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-6}</string>
                <key>spriteSize</key>
                <string>{89,105}</string>
                <key>spriteSourceSize</key>
                <string>{115,131}</string>
                <key>textureRect</key>
                <string>{{413,132},{89,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack115.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-1}</string>
                <key>spriteSize</key>
                <string>{91,99}</string>
                <key>spriteSourceSize</key>
                <string>{115,131}</string>
                <key>textureRect</key>
                <string>{{1,147},{91,99}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack116.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-5}</string>
                <key>spriteSize</key>
                <string>{99,107}</string>
                <key>spriteSourceSize</key>
                <string>{119,131}</string>
                <key>textureRect</key>
                <string>{{203,139},{99,107}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack117.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-1}</string>
                <key>spriteSize</key>
                <string>{91,99}</string>
                <key>spriteSourceSize</key>
                <string>{115,131}</string>
                <key>textureRect</key>
                <string>{{1,147},{91,99}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack121.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{97,119}</string>
                <key>spriteSourceSize</key>
                <string>{115,131}</string>
                <key>textureRect</key>
                <string>{{825,1},{97,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack122.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-3}</string>
                <key>spriteSize</key>
                <string>{87,117}</string>
                <key>spriteSourceSize</key>
                <string>{115,131}</string>
                <key>textureRect</key>
                <string>{{891,122},{87,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack123.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,3}</string>
                <key>spriteSize</key>
                <string>{81,99}</string>
                <key>spriteSourceSize</key>
                <string>{115,131}</string>
                <key>textureRect</key>
                <string>{{924,1},{81,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack124.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-6}</string>
                <key>spriteSize</key>
                <string>{89,105}</string>
                <key>spriteSourceSize</key>
                <string>{115,131}</string>
                <key>textureRect</key>
                <string>{{504,129},{89,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack125.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-1}</string>
                <key>spriteSize</key>
                <string>{91,99}</string>
                <key>spriteSourceSize</key>
                <string>{115,131}</string>
                <key>textureRect</key>
                <string>{{102,147},{91,99}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack126.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-5}</string>
                <key>spriteSize</key>
                <string>{99,107}</string>
                <key>spriteSourceSize</key>
                <string>{119,131}</string>
                <key>textureRect</key>
                <string>{{312,133},{99,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack127.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-1}</string>
                <key>spriteSize</key>
                <string>{91,99}</string>
                <key>spriteSourceSize</key>
                <string>{115,131}</string>
                <key>textureRect</key>
                <string>{{102,147},{91,99}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack211.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{130,115}</string>
                <key>spriteSourceSize</key>
                <string>{220,205}</string>
                <key>textureRect</key>
                <string>{{243,1},{130,115}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack212.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,2}</string>
                <key>spriteSize</key>
                <string>{124,113}</string>
                <key>spriteSourceSize</key>
                <string>{220,205}</string>
                <key>textureRect</key>
                <string>{{611,1},{124,113}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack213.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,3}</string>
                <key>spriteSize</key>
                <string>{136,115}</string>
                <key>spriteSourceSize</key>
                <string>{220,205}</string>
                <key>textureRect</key>
                <string>{{126,1},{136,115}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack214.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,7}</string>
                <key>spriteSize</key>
                <string>{144,123}</string>
                <key>spriteSourceSize</key>
                <string>{220,205}</string>
                <key>textureRect</key>
                <string>{{1,1},{144,123}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack215.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,5}</string>
                <key>spriteSize</key>
                <string>{122,113}</string>
                <key>spriteSourceSize</key>
                <string>{220,205}</string>
                <key>textureRect</key>
                <string>{{678,127},{122,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack216.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,8}</string>
                <key>spriteSize</key>
                <string>{126,119}</string>
                <key>spriteSourceSize</key>
                <string>{220,205}</string>
                <key>textureRect</key>
                <string>{{490,1},{126,119}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack217.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,10}</string>
                <key>spriteSize</key>
                <string>{128,129}</string>
                <key>spriteSourceSize</key>
                <string>{220,205}</string>
                <key>textureRect</key>
                <string>{{360,1},{128,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>bossattack.png</string>
            <key>size</key>
            <string>{1006,241}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d4500f771a2b4d2cb43607e1e088c95a:192e5fd3645205feb9daba0aa3d8452f:c4ffb662f2a2dfa908be523355efceb0$</string>
            <key>textureFileName</key>
            <string>bossattack.png</string>
        </dict>
    </dict>
</plist>
