<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>box1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-25,-12}</string>
                <key>spriteSize</key>
                <string>{27,30}</string>
                <key>spriteSourceSize</key>
                <string>{77,96}</string>
                <key>textureRect</key>
                <string>{{1,522},{27,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>box2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-15}</string>
                <key>spriteSize</key>
                <string>{53,62}</string>
                <key>spriteSourceSize</key>
                <string>{75,96}</string>
                <key>textureRect</key>
                <string>{{1,1},{53,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>box3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,0}</string>
                <key>spriteSize</key>
                <string>{61,92}</string>
                <key>spriteSourceSize</key>
                <string>{75,96}</string>
                <key>textureRect</key>
                <string>{{1,56},{61,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>box4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,1}</string>
                <key>spriteSize</key>
                <string>{59,90}</string>
                <key>spriteSourceSize</key>
                <string>{75,96}</string>
                <key>textureRect</key>
                <string>{{1,150},{59,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>box5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{55,90}</string>
                <key>spriteSourceSize</key>
                <string>{75,96}</string>
                <key>textureRect</key>
                <string>{{1,430},{55,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>box6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,2}</string>
                <key>spriteSize</key>
                <string>{57,92}</string>
                <key>spriteSourceSize</key>
                <string>{75,96}</string>
                <key>textureRect</key>
                <string>{{1,242},{57,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>box7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,92}</string>
                <key>spriteSourceSize</key>
                <string>{75,96}</string>
                <key>textureRect</key>
                <string>{{1,336},{55,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>box8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,-21}</string>
                <key>spriteSize</key>
                <string>{5,12}</string>
                <key>spriteSourceSize</key>
                <string>{77,96}</string>
                <key>textureRect</key>
                <string>{{58,336},{5,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>boxbreak.png</string>
            <key>size</key>
            <string>{64,550}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:83713d6a0b51b59aab1be97422074252:69f22d4e177f913c72f39fb24cc70a3e:d5ae85b4db2595c89b5c041ba7f72ffb$</string>
            <key>textureFileName</key>
            <string>boxbreak.png</string>
        </dict>
    </dict>
</plist>
