<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>run_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,4}</string>
                <key>spriteSize</key>
                <string>{40,214}</string>
                <key>spriteSourceSize</key>
                <string>{94,222}</string>
                <key>textureRect</key>
                <string>{{46,1},{40,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{43,214}</string>
                <key>spriteSourceSize</key>
                <string>{45,214}</string>
                <key>textureRect</key>
                <string>{{1,1},{43,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{40,208}</string>
                <key>spriteSourceSize</key>
                <string>{42,210}</string>
                <key>textureRect</key>
                <string>{{88,1},{40,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,198}</string>
                <key>spriteSourceSize</key>
                <string>{39,198}</string>
                <key>textureRect</key>
                <string>{{130,1},{39,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{38,197}</string>
                <key>spriteSourceSize</key>
                <string>{40,197}</string>
                <key>textureRect</key>
                <string>{{1,217},{38,197}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>run_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,178}</string>
                <key>spriteSourceSize</key>
                <string>{39,178}</string>
                <key>textureRect</key>
                <string>{{171,1},{39,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>opendoor.png</string>
            <key>size</key>
            <string>{211,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fb6851e25c7d11c1bb050ffd0da6a0b4:4979a8bb230f83d40af512ff16433f27:d60e20925ab2ebe053c101983b5a148c$</string>
            <key>textureFileName</key>
            <string>opendoor.png</string>
        </dict>
    </dict>
</plist>
