<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>attack111.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{97,119}</string>
                <key>spriteSourceSize</key>
                <string>{115,131}</string>
                <key>textureRect</key>
                <string>{{108,183},{97,119}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack112.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-3}</string>
                <key>spriteSize</key>
                <string>{87,117}</string>
                <key>spriteSourceSize</key>
                <string>{115,131}</string>
                <key>textureRect</key>
                <string>{{203,1},{87,117}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack113.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,3}</string>
                <key>spriteSize</key>
                <string>{81,99}</string>
                <key>spriteSourceSize</key>
                <string>{115,131}</string>
                <key>textureRect</key>
                <string>{{1,1},{81,99}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack114.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-6}</string>
                <key>spriteSize</key>
                <string>{89,105}</string>
                <key>spriteSourceSize</key>
                <string>{115,131}</string>
                <key>textureRect</key>
                <string>{{1,84},{89,105}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack115.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-1}</string>
                <key>spriteSize</key>
                <string>{91,99}</string>
                <key>spriteSourceSize</key>
                <string>{115,131}</string>
                <key>textureRect</key>
                <string>{{215,90},{91,99}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack116.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-5}</string>
                <key>spriteSize</key>
                <string>{99,107}</string>
                <key>spriteSourceSize</key>
                <string>{119,131}</string>
                <key>textureRect</key>
                <string>{{350,183},{99,107}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack117.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-1}</string>
                <key>spriteSize</key>
                <string>{91,99}</string>
                <key>spriteSourceSize</key>
                <string>{115,131}</string>
                <key>textureRect</key>
                <string>{{215,90},{91,99}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack121.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{97,119}</string>
                <key>spriteSourceSize</key>
                <string>{115,131}</string>
                <key>textureRect</key>
                <string>{{229,183},{97,119}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack122.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-3}</string>
                <key>spriteSize</key>
                <string>{87,117}</string>
                <key>spriteSourceSize</key>
                <string>{115,131}</string>
                <key>textureRect</key>
                <string>{{322,1},{87,117}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack123.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,3}</string>
                <key>spriteSize</key>
                <string>{81,99}</string>
                <key>spriteSourceSize</key>
                <string>{115,131}</string>
                <key>textureRect</key>
                <string>{{102,1},{81,99}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack124.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-6}</string>
                <key>spriteSize</key>
                <string>{89,105}</string>
                <key>spriteSourceSize</key>
                <string>{115,131}</string>
                <key>textureRect</key>
                <string>{{108,90},{89,105}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack125.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-1}</string>
                <key>spriteSize</key>
                <string>{91,99}</string>
                <key>spriteSourceSize</key>
                <string>{115,131}</string>
                <key>textureRect</key>
                <string>{{316,90},{91,99}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack126.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-5}</string>
                <key>spriteSize</key>
                <string>{97,105}</string>
                <key>spriteSourceSize</key>
                <string>{115,131}</string>
                <key>textureRect</key>
                <string>{{1,175},{97,105}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack127.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-1}</string>
                <key>spriteSize</key>
                <string>{91,99}</string>
                <key>spriteSourceSize</key>
                <string>{115,131}</string>
                <key>textureRect</key>
                <string>{{316,90},{91,99}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>bossattack.png</string>
            <key>size</key>
            <string>{458,283}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9ba118e8712050efb96bae3ef03291a7:31907ded49cd840a49c267ec2f6b4807:c4ffb662f2a2dfa908be523355efceb0$</string>
            <key>textureFileName</key>
            <string>bossattack.png</string>
        </dict>
    </dict>
</plist>
