<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bullet1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,4}</string>
                <key>spriteSize</key>
                <string>{46,46}</string>
                <key>spriteSourceSize</key>
                <string>{106,64}</string>
                <key>textureRect</key>
                <string>{{225,1},{46,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bullet2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,5}</string>
                <key>spriteSize</key>
                <string>{66,44}</string>
                <key>spriteSourceSize</key>
                <string>{106,64}</string>
                <key>textureRect</key>
                <string>{{273,1},{66,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bullet3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,54}</string>
                <key>spriteSourceSize</key>
                <string>{106,64}</string>
                <key>textureRect</key>
                <string>{{155,1},{68,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bullet4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,3}</string>
                <key>spriteSize</key>
                <string>{80,58}</string>
                <key>spriteSourceSize</key>
                <string>{106,64}</string>
                <key>textureRect</key>
                <string>{{1,1},{80,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bullet5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,3}</string>
                <key>spriteSize</key>
                <string>{70,58}</string>
                <key>spriteSourceSize</key>
                <string>{106,64}</string>
                <key>textureRect</key>
                <string>{{83,1},{70,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>bullet.png</string>
            <key>size</key>
            <string>{340,60}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:51fcf505a6d4713d6948da983c2cf11d:3503bf77d08a7c499a1cea9fe3c6ee9c:2afb0b8dfa048ea2bbd02e313d2c7964$</string>
            <key>textureFileName</key>
            <string>bullet.png</string>
        </dict>
    </dict>
</plist>
