<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>deadhero1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,-6}</string>
                <key>spriteSize</key>
                <string>{68,60}</string>
                <key>spriteSourceSize</key>
                <string>{106,80}</string>
                <key>textureRect</key>
                <string>{{105,1},{68,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>deadhero2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{102,76}</string>
                <key>spriteSourceSize</key>
                <string>{106,80}</string>
                <key>textureRect</key>
                <string>{{1,1},{102,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>deadhero.png</string>
            <key>size</key>
            <string>{166,78}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c88841e986b7a19f649078ccb5128a91:f8e30570d12d4c0996a61bc29751a294:701c50aa5c0bb410849c8629ec9a252f$</string>
            <key>textureFileName</key>
            <string>deadhero.png</string>
        </dict>
    </dict>
</plist>
