<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dead111.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-13}</string>
                <key>spriteSize</key>
                <string>{73,49}</string>
                <key>spriteSourceSize</key>
                <string>{99,79}</string>
                <key>textureRect</key>
                <string>{{199,1},{73,49}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dead112.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{97,77}</string>
                <key>spriteSourceSize</key>
                <string>{99,79}</string>
                <key>textureRect</key>
                <string>{{1,1},{97,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dead121.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-13}</string>
                <key>spriteSize</key>
                <string>{73,49}</string>
                <key>spriteSourceSize</key>
                <string>{99,79}</string>
                <key>textureRect</key>
                <string>{{199,76},{73,49}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dead122.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{97,77}</string>
                <key>spriteSourceSize</key>
                <string>{99,79}</string>
                <key>textureRect</key>
                <string>{{1,80},{97,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dead211.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,77}</string>
                <key>spriteSourceSize</key>
                <string>{99,79}</string>
                <key>textureRect</key>
                <string>{{1,159},{97,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dead212.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{97,77}</string>
                <key>spriteSourceSize</key>
                <string>{99,79}</string>
                <key>textureRect</key>
                <string>{{100,1},{97,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dead221.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,-13}</string>
                <key>spriteSize</key>
                <string>{67,53}</string>
                <key>spriteSourceSize</key>
                <string>{99,79}</string>
                <key>textureRect</key>
                <string>{{181,159},{67,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dead222.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{97,77}</string>
                <key>spriteSourceSize</key>
                <string>{99,79}</string>
                <key>textureRect</key>
                <string>{{100,80},{97,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dead311.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-1}</string>
                <key>spriteSize</key>
                <string>{79,77}</string>
                <key>spriteSourceSize</key>
                <string>{99,79}</string>
                <key>textureRect</key>
                <string>{{100,159},{79,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dead312.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{97,77}</string>
                <key>spriteSourceSize</key>
                <string>{99,79}</string>
                <key>textureRect</key>
                <string>{{100,1},{97,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dead321.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,-13}</string>
                <key>spriteSize</key>
                <string>{67,53}</string>
                <key>spriteSourceSize</key>
                <string>{99,79}</string>
                <key>textureRect</key>
                <string>{{181,159},{67,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dead322.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{97,77}</string>
                <key>spriteSourceSize</key>
                <string>{99,79}</string>
                <key>textureRect</key>
                <string>{{100,80},{97,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>monsterdead.png</string>
            <key>size</key>
            <string>{249,237}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f5b5ad409287fc1875c0e243c2701e47:43c4adaa6ac86e60f0165e5650959bad:2d2d76598888376b071e4f14febbd190$</string>
            <key>textureFileName</key>
            <string>monsterdead.png</string>
        </dict>
    </dict>
</plist>
